<nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
    <div class="container-fluid">

        <NavLink class="navbar-brand" href="/">
            Sharad Aade
        </NavLink>

        <button class="navbar-toggler"
                type="button"
                @onclick="ToggleNavMenu">

            @if (collapseNavMenu)
            {
                <i class="bi bi-list"></i>
            }
            else
            {
                <i class="bi bi-x-lg"></i>
            }

        </button>

        <div class="@NavMenuCssClass navbar-collapse justify-content-end">

            <div class="navbar-nav ms-auto text-end">

                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All" @onclick="CloseMenu">
                    Home
                </NavLink>

                <NavLink class="nav-link" href="/skills" @onclick="CloseMenu">
                    Skills
                </NavLink>

                <NavLink class="nav-link" href="/certifications" @onclick="CloseMenu">
                    Certifications
                </NavLink>

                <NavLink class="nav-link" href="/projects" @onclick="CloseMenu">
                    Projects
                </NavLink>

                <NavLink class="nav-link" href="/education" @onclick="CloseMenu">
                    Education
                </NavLink>

                <NavLink class="nav-link" href="/contact" @onclick="CloseMenu">
                    Contact
                </NavLink>

            </div>

        </div>

    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass =>
        collapseNavMenu ? "collapse" : "show";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CloseMenu()
    {
        collapseNavMenu = true;
    }
}