<nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
    <div class="container-fluid">

        <NavLink class="navbar-brand" href="/">
            Sharad Aade
        </NavLink>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">

            <div class="navbar-nav">

                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                    Home
                </NavLink>

                <NavLink class="nav-link" href="/skills">
                    Skills
                </NavLink>

                <NavLink class="nav-link" href="/certifications">
                    Certifications
                </NavLink>

                <NavLink class="nav-link" href="/projects">
                    Projects
                </NavLink>

                <NavLink class="nav-link" href="/education">
                    Education
                </NavLink>

                <NavLink class="nav-link" href="/contact">
                    Contact
                </NavLink>

            </div>

        </div>

    </div>
</nav>
