@page "/"

<PageTitle>Home</PageTitle>

<div class="container py-5">
    <div class="row align-items-center">

        <!-- Left Column -->
        <div class="col-12 col-md-6 text-center text-md-start mb-4 mb-md-0">

            <h3 class="display-6">Hello! I'm</h3>

            <h1 class="display-3 pt-2 fw-bold">
                Sharad Aade
            </h1>

            <p class="pt-2 fs-5">
                <em>.NET Developer</em>
            </p>

            <a href="resume/sharad-aade-cv.pdf"
               target="_blank"
               class="btn btn-primary p-3 mt-4 rounded-pill d-inline-flex align-items-center">

                Get Resume

                <img src="getresume.png"
                     class="ms-2"
                     style="height:24px;" />

            </a>

        </div>

        <!-- Right Column -->
        <div class="col-12 col-md-6 text-center">

            <img id="profile-img"
                 src="img/sharadaade.png"
                 class="img-fluid"
                 alt="Sharad Aade" />

        </div>

    </div>
</div>