@page "/skills"

<PageTitle>Skills</PageTitle>

<div class="container py-5">

    <h1 class="text-center fw-bold mb-5 text-danger">My Skills</h1>

    <div class="row g-5">

        <!-- Frontend -->
        <div class="col-12 col-lg-6">

            <h2 class="text-center mb-4 border-bottom pb-2">
                Frontend Development
            </h2>

            <div class="row g-4">

                <div class="col-6 col-md-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body text-center">
                            <img src="skills/html.png" class="img-fluid mb-2" width="80" alt="HTML">
                            <h6 class="text-black">HTML</h6>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body text-center">
                            <img src="skills/css.png" class="img-fluid mb-2" width="80" alt="CSS">
                            <h6 class="text-black">CSS</h6>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body text-center">
                            <img src="skills/bootstrap.png" class="img-fluid mb-2" width="80" alt="Bootstrap">
                            <h6 class="text-black">Bootstrap</h6>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body text-center">
                            <img src="skills/javascript.png" class="img-fluid mb-2" width="80" alt="JavaScript">
                            <h6 class="text-black">JavaScript</h6>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body text-center">
                            <img src="skills/typescript.png" class="img-fluid mb-2" width="80" alt="TypeScript">
                            <h6 class="text-black">TypeScript</h6>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body text-center">
                            <img src="skills/angular.png" class="img-fluid mb-2" width="80" alt="Angular">
                            <h6 class="text-black">Angular</h6>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- Backend -->
        <div class="col-12 col-lg-6">

            <h2 class="text-center mb-4 border-bottom pb-2">
                Backend Development
            </h2>

            <div class="row g-4">

                <div class="col-6 col-md-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body text-center">
                            <img src="skills/c-sharp.png" class="img-fluid mb-2" width="80" alt="C#">
                            <h6 class="text-black">C#</h6>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body text-center">
                            <img src="skills/aspdotnetmvc.jpg" class="img-fluid mb-2" width="80" alt="ASP.NET MVC">
                            <h6 class="text-black mt-4">ASP.NET MVC</h6>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body text-center">
                            <img src="skills/aspdotnetcore.png" class="img-fluid mb-2" width="80" alt="ASP.NET Core">
                            <h6 class="text-black">ASP.NET Core</h6>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body text-center">
                            <img src="skills/ef-core.png" class="img-fluid mt-2" width="90" height="100" alt="Entity Framework">
                            <h6 class="text-black mt-4">Entity Framework</h6>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body text-center">
                            <img src="skills/ms-sql.png" class="img-fluid mb-2" width="80" alt="MS SQL">
                            <h6 class="text-black">MS SQL</h6>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
